@import './components/variables';
@import './components/header';
@import './components/form';
@import './components/buttons';

body{
    margin: 0;
}
.main{
width: 100%;
margin: 0;
height: 100vh;
}

.row{
    max-width: 100%;
    margin: 0 auto;
}

.left{
    height: 100vh;

}

.card{
    margin-top: 3.8rem;
}

.border-end {
    height: 100vh;
}

.main-search{
    border: 1.5px solid rgba($color: #000, $alpha: 0.18);
    margin-top: 3.8rem;
    padding: 4px;
    border-radius: 0.375rem;
}

.mb-3{
    margin-top: 3.8rem;
    border: 1px solid rgba($color: #000, $alpha: 0.18);
    padding: 1rem;
    border-radius: 0.375rem;
}

.mb-3 a{
    margin-top: 1rem;
}

#formFileSm{
    margin: 1rem 0 1rem 0;
}

.card-img-profile{
    max-height: 175px;
    max-width: 175px;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 1rem;
    border: 1.5px solid rgba($color: #000, $alpha: 0.18);
}

.card-img-top{
    max-width: 350px;
    display: flex;
    margin: 0 auto;
}

.card-profile{
    padding: 10px;
    -webkit-text-stroke: 0.5px map-get($colours, secondary);
    color: map-get($colours, primary);

}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    padding-right: 0;
    padding-left: 0;
    margin-left: 22px;
    margin-right: 22px;
}

.login{
margin-top: 3.8rem;
}
.col{
    border-right: 1.5px solid rgba($color: #000, $alpha: 0.18);
}


.card-home{
    background-color: #D9D9D9;
    margin-top: 3.8rem;
    padding: 10px;
    border: 1.5px solid rgba($color: #000, $alpha: 0.18);
    
    .card-body{
        margin-top: 1rem;
        border: 1.5px solid rgba($color: #000, $alpha: 0.18);
        padding-top: 25px;
        background-color: white;
        padding: 5px;
    }

    .card-title{
        text-align: center;
        font-size: 25px;
    }
    
}

@media screen and (max-width: 768px) {

    main {
      margin: 0 auto;
    }
    .container{
        margin: 0 auto;
    }
    .mb-3 {
    width: 14rem;
    }

    .border-end {
        border: 0px solid !important;
    }

}

@media screen and (max-width: 576px) {
    .col-md-6 {
        height: 100vh;
        max-width: 324px;
    }
    .card-img-top{
        margin-top: 0.4rem;
    }
    .card-profile{
        margin-top: 0.4rem;
        width: 84px;

        &h3{
            font-size: 1px;
        }
    }
} 

@media screen and (min-width: 576px) {
    .col-md-6 {
        width: 430px;
    }

    .col-sm-2 {
    flex: 0 0 auto;
    width: 20%;
    }
    
} 
